html {
    --color-dark-cyan: hsl(185, 75%, 39%);
    --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --color-dark-grayish-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
    --color-white: hsl(0, 0%, 100%);
    font-size: calc(65% + 0.8vmin);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--color-very-dark-desaturated-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -60% -400%, 150% 600%;
    background-repeat: no-repeat, no-repeat;
}

main {
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 30rem;
    margin: 1rem;
}

.images {
    display: flex;
    justify-content: center;
    position: relative;
}

.bg-card {
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 10rem;
    width: 35rem;
}

.profile-pic {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    border-radius: 5rem;
    outline: 0.3rem solid var(--color-white);

    width: 6rem;
}

.name-age {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.name-age {
    font-size: 2rem;
    color: var(--color-dark-gray);
}

h1 {
    color: var(--color-very-dark-desaturated-blue);
    font-size: 2rem;
    margin-right: 1rem;
}

p {
    color: var(--color-dark-gray);
}

hr {
    border: 0.1rem solid rgba(199, 196, 196, 0.557);
    width: 110%;
    border-top: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.data {
    display: flex;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-dark-gray);
}

.number {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    color: var(--color-very-dark-desaturated-blue);
}

em {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}